body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.favButton {
  background-color: #f0f0f0;
  padding: 10px 10px;
  border: none;
  border-radius: 0; 
  cursor: pointer;
  font-size: 1.5rem; 
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.favButton:hover {
  background-color: #ffcccc;
  transform: scale(1.1); 
}

.favButton:active {
  transform: scale(0.9); 
}

h1 {
  text-align: center;
}

:root {
  --navbar-background-light: #70a7cc;
  --navbar-background-dark: #121212; 
  --footer-background-light: #70a7cc;
  --footer-background-dark: #121212; 
  --footer-text: #ffffff; 
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--navbar-background-light); 
}

nav img {
  height: 40px; 
  margin-right: 1rem;
}

nav .links {
  display: flex;
  align-items: center;
  gap: 1rem; 
}

nav button {
  background-color: #007bff; 
  color: white; 
  border: none;
  padding: 0.5rem 1rem; 
  border-radius: 5px; 
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s; 
}

nav button:hover {
  background-color: #0056b3; 
  transform: scale(1.05); 
}

nav button:focus {
  outline: none; 
}

body.dark-mode nav {
  background-color: var(--navbar-background-dark);
}

nav.dark .links a {
  color: white; 
}

nav.dark .links a:hover {
  color: #ddd; 
}

a {
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}

a:hover {
  color: rgb(136, 136, 136);
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  align-items: center;
  padding: 1rem 1rem;
  background-color: var(--footer-background-light); 
  color: var(--footer-text); 
  left: 0;  
  right: 0;
  position: absolute;
  bottom: 0;
}


footer .footer-content {
  display: flex;
  align-items: center;
}

footer p {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}

footer .social-icons {
  display: flex;
  gap: 1rem; 
  
}

footer img {
  height: 30px; 
}

body.dark-mode footer {
  background-color: var(--footer-background-dark);
}

body.dark-mode footer {
  color: #ffffff;
}

body.dark-mode footer a {
  color: #ffffff;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
  border: 1px solid #ccc;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.dark {
  background-color: #12121296;
  color: white;
}

.dark > a {
  color: white;
}

.card {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  border: 0.5px solid rgb(136, 136, 136);
}

.card:hover {
  border: 0.5px solid rgb(206, 217, 142);
}

.card-grid {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 90vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-bottom: 5rem;
}



.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  min-height: calc(100vh - 300px)
}

.contact h2, .contact p {
  margin: 10px 0;
  padding: 0.5rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 100px;
  margin: 0 auto;
}

input[type="text"] {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 2rem auto;
  text-align: center;
}


.detail-container img {
  border-radius: 50%; 
  width: 80px; 
  height: 80px; 
  margin-bottom: 1rem; 
}


h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1.5rem;
}


.detail-container p {
  font-size: 1rem;
  color: #555;
  margin: 0.5rem 0;
}

.detail-container p span {
  font-weight: bold;
  color: #333;
}

@media (max-width: 600px) {
  .detail-container {
    padding: 1rem;
    margin: 1rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  .detail-container p {
    font-size: 0.9rem;
  }
}